/*GENERAL RULES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main,footer{
    margin-top: 50px;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 2px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content{
    background-color: rgb(6, 114, 236);
    border: 2px solid rgb(255, 255, 255);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}

.pad-15{
    padding: 15px;
}

.content-title{
    padding: 5px 2px;
    font-size: 20px;
}

.inner-content{
    background-color: rgb(73, 218, 104);
    border: 2px solid rgb(6, 114, 236);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}

/*COLUMNS*/

.col-1{
    flex-basis: calc((100% / 12) * 1);
}

.col-2{
    flex-basis: calc((100% / 12) * 2);
}

.col-3{
    flex-basis: calc((100% / 12) * 3);
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
}

.col-5{
    flex-basis: calc((100% / 12) * 5);
}

.col-6{
    flex-basis: calc((100% / 12) * 6);
}

.col-7{
    flex-basis: calc((100% / 12) * 7);
}

.col-8{
    flex-basis: calc((100% / 12) * 8);
}

.col-9{
    flex-basis: calc((100% / 12) * 9);
}

.col-10{
    flex-basis: calc((100% / 12) * 10);
}

.col-11{
    flex-basis: calc((100% / 12) * 11);
}

.col-12{
    flex-basis: calc((100% / 12) * 12);
}

/*COLUMNS OFFSET*/

.col-offset-1{
    margin-left: calc((100% / 12) * 1);
}

.col-offset-2{
    margin-left: calc((100% / 12) * 2);
}

.col-offset-3{
    margin-left: calc((100% / 12) * 3);
}

.col-offset-4{
    margin-left: calc((100% / 12) * 4);
}

.col-offset-5{
    margin-left: calc((100% / 12) * 5);
}

.col-offset-6{
    margin-left: calc((100% / 12) * 6);
}

.col-offset-7{
    margin-left: calc((100% / 12) * 7);
}

.col-offset-8{
    margin-left: calc((100% / 12) * 8);
}

.col-offset-9{
    margin-left: calc((100% / 12) * 9);
}

.col-offset-10{
    margin-left: calc((100% / 12) * 10);
}

.col-offset-11{
    margin-left: calc((100% / 12) * 11);
}

